.sidenav{
    font-size:1.2em;
}
.sidenav.title{
    font-weight: bold;
}
.page-header{
    margin-top:0;
}
.control{
    width:100%;
}
.console{
    max-height:500px;
    overflow-y: scroll;
}
.console span{
    width:100%;
    display:block;
    float:left;
}